body {
    font-family: Arial, sans-serif;
    background-color: #71b3c2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: fantasy;
    color: #1d0258;
}

main {
    padding: 20px;
    background-color: #f3d7ae;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}